---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { log } from "astro/dist/core/logger/core";

export async function getStaticPaths({ paginate }) {
  let newsletterCollection = await getCollection("newsletter");
  newsletterCollection = newsletterCollection.sort(function (a, b) {
  return new Date(b.data.Date) - new Date(a.data.Date);
});

  let arrayNombres = newsletterCollection.map(
    (newsletter) => {return({ newsletterArt: newsletter.data},)}
  );
  console.log(arrayNombres ,1)

  return paginate(arrayNombres, { pageSize: 3 });
}
const { page } = Astro.props;
{console.log(page)}
---



<Layout title={page.currentPage}>
  <div class="text-5xl  mx-auto lg:py-20 py-16 font-bold font-heading flex justify-center">

  <h1>
    Newsletter
    </h1>
  </div>
  <div class="w-full p-5 lg:w-2/3 mx-auto   ">

  <div>

      <ul class="flex flex-col gap-3">
    {page.data.map(({ newsletterArt }) =>
     <li class="">
      <div class="flex flex-row gap-4 ">
        <div class="mx-auto min-w-fit p-4 flex flex-col ">
          <h3 class=" font-bold ">
            {newsletterArt.Date}
            </h3>

          </div>

          <div class="p-3">
            <h3 class="w-full  text-2xl px-1 pb-1 font-bold">{newsletterArt.title}</h3>
            <h4 class="text-sm px-1 pb-3">{newsletterArt.Author}</h4>

            {newsletterArt.Preview}
            <hr class=" mt-10 w-full mx-auto">
            </div>
            </div>
    </li>
)

      }

      <div class="my-20 text-xl font-bold">
        <ul class="flex flex-row w-full gap-3 justify-center px-4">
          {() =>{
            if(page.currentPage > 1) return (<li id="previous"><a href={page.currentPage - 1}  class=""><-</a></li>)
              else return (<li><-</li>)
          }

          }
          <li>{page.currentPage}</li>
         {() =>{
            if(page.currentPage < page.lastPage) return (<li id="previous"><a href={page.currentPage + 1}  class="">-></a></li>)
            else return (<li>-></li>)
          }

          }

          </ul>
        </div>

      </ul>

    </div>




  </div>
</Layout>



<!--Display the current page number. Astro.params.page can also be used!-->
